body {
  font-family: 'Open Sans', sans-serif;
}

button, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.form-field {
  margin-bottom: 2.5rem;
  text-align: left;
}

.form-field label {
  display: block;
  text-transform: uppercase;
}

.form-field input,
.form-field input:focus {
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
  padding: .3rem 0;
  outline: none;
}

button,
button.primary:hover,
button.primary:focus {
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

button.primary {
  background: $primary-button-color;
}

button.primary:hover,
button.primary:focus {
  background: $primary-button-hover-color;
}

button.secondary {
  background: $secondary-button-color;
}

button.secondary:hover,
button.secondary:focus {
  background: $secondary-button-hover-color;
}
